<mat-toolbar color="primary" class="mat-elevation-z5">
  <span>Git Gist</span>
  <span class="fill-remaining-space"></span>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="sortArray()">Last Updated</button>
    <button mat-menu-item (click)="openDialog()">Filter</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <a aria-label="GitHub Repository"
     href="https://github.com/nsnikhil/Git-Gist">
    <span matRipple><img alt="github.com/nsnikhil" src="../../assets/images/GitHub-Mark-Light-32px.png"></span>
  </a>


</mat-toolbar>


<mat-grid-list cols="4" rowHeight="4:3">
  <mat-grid-tile
    *ngFor="let gistItem of gistList">
    <app-grid-list-item-component
      *ngIf="filterResults(gistItem)"
      [gistItem]="gistItem">
    </app-grid-list-item-component>
  </mat-grid-tile>
</mat-grid-list>


<ul class="pagination justify-content-center">
  <li *ngIf="checkGreater()" class="page-item"><a class="page-link" href="#" (click)="changeCounter(-1)">Previous</a>
  </li>
  <li *ngIf="checkSmaller()" class="page-item"><a class="page-link" href="#" (click)="changeCounter(+1)">Next</a></li>
</ul>
